/* ABOUT */

#block-yui_3_17_2_1_1596472625693_5104 {padding: 3%}

#block-yui_3_17_2_1_1596472625693_5104
h2:first-of-type {background: linear-gradient(to top,  transparent 5%, var(--unerline-color) 5%, var(--unerline-color) 35%, transparent 35%); display: inline;}

#block-yui_3_17_2_1_1596472625693_5104 .sqs-block-content {text-align: center;}
#block-yui_3_17_2_1_1596472625693_5104 .sqs-block-content p {text-align: left;}
