/* CAREER */

#block-fe872fc23f26a59d60c3 {padding: 3%}

#block-fe872fc23f26a59d60c3
h2 {background: linear-gradient(to top,  transparent 5%, var(--unerline-color) 5%, var(--unerline-color) 35%, transparent 35%); display: inline;}

#block-fe872fc23f26a59d60c3 .sqs-block-content {text-align: center;}

#block-yui_3_17_2_1_1688555926909_16111 .sqs-block-content {font-family: Arial;}

#block-yui_3_17_2_1_1688555926909_4581 .sqs-block-content {font-family: Arial;}

#block-yui_3_17_2_1_1688555926909_4581 h4 {font-family: Arial;}

#block-yui_3_17_2_1_1686673826196_4855 .sqs-block-content {font-family: Arial;}
