/* HOW WE WORK */

section[data-section-id="5fd8ac56998a6a2ed55031f8"] .sqs-block-spacer {padding: 0px;}

#block-yui_3_17_2_1_1608135729553_13113
h2:first-of-type {background: linear-gradient(to top,  transparent 25%, var(--unerline-color) 25%, var(--unerline-color) 48%, transparent 48%);; display: inline; }
#block-yui_3_17_2_1_1608135729553_13113 .sqs-block-content {text-align: center;}
#block-5fe49023a6a3793fe0b93b7a
h2{background: linear-gradient(to top,  transparent 25%, var(--unerline-color) 25%, var(--unerline-color) 48%, transparent 48%); display: inline; }
#block-5fe49023a6a3793fe0b93b7a .sqs-block-content {text-align: center;}

/* image padding */
#block-yui_3_17_2_1_1608812062327_21907 { padding: 3px}

#block-yui_3_17_2_1_1608812062327_17003 { padding: 3px} 

#block-yui_3_17_2_1_1608812062327_13600 { padding: 3px} 

#block-yui_3_17_2_1_1609274672107_16466 { padding: 10px} 

#block-yui_3_17_2_1_1609274672107_20179 { padding: 10px} 
