/* CONTACT US */

#block-yui_3_17_2_1_1609765952327_7452
h2:first-of-type {background: linear-gradient(to top,  transparent 5%, var(--unerline-color) 5%, var(--unerline-color) 35%, transparent 35%); display: inline;}

#block-yui_3_17_2_1_1609765952327_7452 .sqs-block-content {text-align: center;}

section[data-section-id="5ff3143edac66e1e1621b023"] .sqs-block-content p {text-align: left;}

section[data-section-id="5ff3143edac66e1e1621b023"] .form-wrapper {text-align: left;}

section[data-section-id="5ff3143edac66e1e1621b023"] .button  {padding: 1em 1.5em 1em 1.5em}
