/* PRIVACY POLICY */

#block-53a993873fc9c4f7edc4 h2:first-of-type {text-align: center;}
#block-53a993873fc9c4f7edc4 .sqs-block-content {text-align: center;}
#block-53a993873fc9c4f7edc4 .sqs-block-content p {text-align: left;}
